.main {
  height: 100vh;
  background-color: white;
  background-size: cover;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

mat-card {
  margin-top: 100px;
  display: block;
}

form {
  width: 30%;
  display: block;
  margin: 200px auto;
  padding: 30px;
  background-color: lightgray;
  border-radius: 10px;
}

button {
  color: black;
  background-color: #ffd105;
}
