  <section>
    <div class="main">
      <div>
        <div class="example-card" [ngStyle]="{ 'background-image': 'url(' + course.imagePath + ')'}" *ngFor="let course of courses">
          <form>
            <div class="inputBox">
                <h1 class="name">{{ course.name }}</h1>
            </div>
            <div class="inputBox">
              <h1 class="price">{{ course. price }} RSD</h1>
          </div>
          <div class="description">
              <span><pre>{{ course.description }}</pre></span>
          </div>
        </form>
          <button type="button" class="cart-btn" (click)="onBuy(course.name, course.price)">Treniraj odmah!</button>
          <br>
          <mat-action-row *ngIf="userIsAdmin"> 
            <a mat-button class="button" color="warn" [routerLink]="['/edit', course._id]">IZMENI</a>
            <button mat-button class="button" color="warn" (click)="onDelete(course._id)">OBRIŠI</button>
          </mat-action-row>
        </div>
      </div>
    </div>
</section>
<p *ngIf="courses.length <= 0" id="noAdded">  </p>
  