<div class="main">
  <div>
    <mat-card class="example-card" *ngFor="let course of courses">

      <mat-card-content>
        <p id="main">
          {{ course.name }}
        <p>
      </mat-card-content>

      <mat-card-content>
        <div class="course-image">
          <img [src]="course.imagePath" [alt]="course.name">
        </div>
      </mat-card-content>
      
      <mat-card-content>
        <p class="desc">
          {{ course. price }}din
        </p>
      </mat-card-content>

      <mat-card-content>
        {{ course.description }}
      </mat-card-content> 

      <mat-action-row *ngIf="userIsAdmin"> 
        <a mat-button color="warn" [routerLink]="['/edit', course._id]">IZMENI</a>
        <button mat-button color="warn" (click)="onDelete(course._id)">OBRIŠI</button>
      </mat-action-row>

      <button type="button" class="cart-btn" (click)="onBuy(course.name, course.price)">Treniraj odmah!</button>

    </mat-card>
  </div>
</div>
  <p *ngIf="courses.length <= 0" id="noAdded">  </p>
  