<header id="showcase">
    <h1 id="h1">Gladiator gym</h1>
    <p>-on my path to becoming my best self-</p>
    <a href="#section-2" class="button">Saznaj više</a>
</header>

<section id="section-1"> </section>

<div id="section-2">
  <p class="text">U našoj ponudi se nalaze različite vrste personalnih i grupnih  treninga, 
    kao i različite varijacije slobodnog korišćenja  naše teretane! <br><br>
    Naš tim nastoji da pomogne svakoj osobi u klubu, kako fizički tako i psihički, da vas motiviše za rad,
    posavetuje i usmeri na pravilno izvođenje vežbi kako biste poboljšali svoju formu i umanjili rizik od povreda.<br><br>
    Naš tim se sastoji od troje trenera, stručno edukovanih  od strane Fakulteta sporta i fizičkog
    vaspitanja kao i Medicinskog fakulteta.
  </p>
  <a href="/courses" class="button2">Treniraj odmah</a>
</div>

