<section class="contact">
    <div class="content">
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Adresa</h3>
                    <p>Bulevar oslobođenja 1 <br> 25000 Novi Sad</p>
                </div>
            </div>
            <div class="box">
              <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="text">
                  <h3>Broj telefona</h3>
                  <p>+381 65 12 345</p>
              </div>
          </div>
            <div class="box">
              <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="text">
                  <h3>E-mail</h3>
                  <p>gladiatorgym@gmail.com</p>
              </div>
          </div>
        </div>
        <div class="contactForm">
            <form action="">
                <h2>Pošaljite nam poruku</h2>
                <div class="inputBox">
                    <input type="text" name="" id="" required="required">
                    <span>Ime i prezime</span>
                </div>
                <div class="inputBox">
                  <input type="text" name="" id="" required="required">
                  <span>E-mail</span>
              </div>
              <div class="inputBox">
                  <input type="text" name="" id="" required="required">
                  <span>Naslov</span>
              </div>
              <div class="inputBox">
                  <textarea name="" id="" cols="30" rows="10" required="required"></textarea>
                  <span>Poruka</span>
              </div>
              <div class="inputBox">
                  <input type="submit" name="" id="" value="Pošalji">
              </div>
            </form>
        </div>
    </div>
</section>