<section>
  <div class="imgBx">
    <img src="assets/images/login.jpg">
  </div>
  <div class="contentBx">
    <div class="formBx">
      <h2>Prijavi se</h2>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <div class="inputBx">
          <span>E-mail</span>
          <input name="email" matInput ngModel type="email" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">s</mat-error>
        </div >
        <div class="inputBx">
          <span>Lozinka</span>
          <input type="password" matInput name="password" ngModel #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">s</mat-error>
        </div>
        <div class="inputBx">
          <input type="submit" *ngIf="!isLoading" value="Prijavi se" name="">
        </div >
        <div class="inputBx">
          <p> Još uvek nisi registrovan? <a href="/signup">Postani gladijator</a></p>
        </div >
      </form>
    </div>
  </div>
</section>
