  <div class="form">
      <p>Podaci o korisniku</p>
      <hr>
      <mat-card>
          <form (submit)="order(orderForm)" #orderForm="ngForm">

  
            <mat-form-field>
              <input matInput name="phone" ngModel type="text" placeholder="Broj telefona" #phoneInput="ngModel" required>
              <mat-error *ngIf="phoneInput.invalid">Unesite broj telefona.</mat-error>
            </mat-form-field>


            <ngx-stripe-card [options]="cardOptions"></ngx-stripe-card>

  
            <button mat-raised-button color="accent" type="submit">Potvrdi</button>
          </form>
      </mat-card>
  </div>
  <div class="alert alert-success" role="alert" *ngIf='alert'>
    Hvala Vam što trenirate kod nas. Idi na&nbsp;<a href="#" class="alert-link">početnu.</a>
  </div>