<div class="bs-example">
    <nav class="navbar fixed-top navbar-expand-lg p-md-3">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav align-items-center">
                <a href="/" class="navbar-brand">
                    <img src="assets/images/logo2.png" height="50" alt="Logo">
                </a>
                <a routerLink="/" class="nav-item nav-link active">Početna</a>
                <a routerLink="/courses" class="nav-item nav-link ">Treniraj odmah</a>
                <a routerLink="/contact" class="nav-item nav-link ">Kontakt</a>
                <a routerLink="/about-us" class="nav-item nav-link ">O nama</a>
                <a routerLink="/create" *ngIf="userIsAdmin" class="nav-item nav-link ">Dodaj kurs</a>
                <a routerLink="/orders" *ngIf="userIsAdmin" class="nav-item nav-link ">Članarine</a>
                <a routerLink="/users" *ngIf="userIsAdmin" class="nav-item nav-link ">Korisnici</a>
                
            </div>
            <div class="navbar-nav nav-link ml-auto">
                <a routerLink="/login" *ngIf="!userIsAuthenticated" class="nav-item nav-link">Prijavi se</a>
                <a routerLink="/signup" *ngIf="!userIsAuthenticated" class="nav-item nav-link">Registruj se</a>
            </div>
            <div class="navbar-nav nav-link nav-link">
                <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Odjavi se</button>
            </div>
        </div>
    </nav>
</div>